.ql-container.ql-snow {
  border: none;
}

.ql-editor {
  padding: 12px 0;
  font-size: 1.1rem;
  line-height: inherit;
}

.ql-editor.ql-blank::before {
  left: 0;
  font-style: normal;
  color: var(--text-disabled-color);
}


