.container {
  position: relative;

  > div {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    justify-items: center;
    gap: 10px 10px;

    @media screen and (max-width: 1150px) {
      grid-template-columns: repeat(3, minmax(140px, 1fr));
    }

    @media screen and (max-width: 1023px) {
      grid-template-columns: repeat(2, minmax(140px, 1fr));
    }

    @media screen and (max-width: 880px) {
      grid-template-columns: repeat(3, minmax(140px, 1fr));
    }

    @media screen and (max-width: 625px) {
      grid-template-columns: repeat(2, minmax(140px, 1fr));
    }
  }
}
