.wrapper {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--main-color);

  & * {
    margin-bottom: 12px;
    font-size: 3rem;
  }

  &.component {
    height: 100%;

    & * {
      font-size: 1rem;
    }
  }

  .container {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .big {
      font-weight: 400;
      font-weight: lighter;
    }

    .refresh:hover {
      animation: rotate 2s infinite;
    }
  }

  .button {
    cursor: pointer;
    padding: 3px 50px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    outline: none;
    border: none;
    color: var(--main-color);

    @media (hover: hover) {
      &:hover {
        box-shadow: var(--shadow-lg);
      }
    }
  }

  @media (max-width: 330px) {
    & {
      text-align: center;
      font-size: 0.9rem;
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
