.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease;
  font-size: 0.8rem;
  color: #595959;
  max-height: 70svh;
  overflow-y: auto;
  margin-bottom: 20px;

  .headerWrapper {
    padding: 0px 20px 20px;
    border-top-right-radius: 12px;

    h3 {
      font-size: 1.5rem;
      color: var(--main-color);
    }

    .name {
      font-size: 1.2rem;
      color: var(--main-color);
    }

    .icon:before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      left: -10px;
      top: 5px;
      position: relative;
    }

    .iconSpecialization:before {
      background: url('../../../../assets/doctors/doctor_specialization.svg')
        no-repeat;
    }

    .iconScientificDegreeLabel:before {
      background: url('../../../../assets/doctors/doctor_scientific_degree_label.svg')
        no-repeat;
    }
  }

  .infoWrapper {
    padding: 16px 20px;

    > dt {
      font-weight: 500;
      font-size: 1.3rem;
      color: var(--main-color);
      margin-bottom: 3px;
    }

    > dd {
      margin-bottom: 10px;
      font-size: 1rem;
      max-width: 100%;
    }

    .about {
      text-align: justify;
    }
  }
}
