.wrapper {
  position: fixed;
  width: 100%;
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  backdrop-filter: blur(5px);
  box-shadow: var(--shadow-lg);
  background: inear-gradient(
    180deg,
    rgba(0, 0, 0) 60%,
    rgba(0, 0, 0, 0.4) 100%
  );
  @media (max-height: 620px) {
    padding: 0 5px;
    height: 54px;
  }
  .navigate {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: 1024px) {
      .registration {
        display: flex;
        margin-right: 20px;
      }
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  text-wrap: nowrap;
  font-size: 1rem;
  padding: 5px 10px;

  @media (hover: hover) {
    &:hover {
      box-shadow: var(--shadow-lg);
    }
  }

  svg {
    transition: all 0.3s;
  }

  @media (hover: hover) {
    &:hover svg path {
      fill: var(--main-color);
    }
  }
}

.btn {
  width: fit-content;
  flex-direction: row-reverse;
}
