.createChannelPopup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;

  .btn_svg {
    width: 25px;
    height: 25px;
    transition: 0.3s all ease;

    &:hover {
      rotate: 180deg;
    }
  }

  .createWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
    gap: 20px;
    width: 600px;

    > input {
      width: 100%;
      height: 48px;
      border: 1px solid #aeaeb2;
      border-radius: 8px;
      font-size: 18px;
    }

    .typeControl {
      width: 100%;
      display: flex;
      gap: 16px;
      flex-direction: column;
      font-size: 16px;
      line-height: 16px;

      .control {
        position: relative;
        top: 2px;
        margin-left: 0;
        margin-right: 8px;
        cursor: pointer;
        width: 16px;
        height: 16px;
        color: #2724a1;
        outline: none;
      }
    }

    > button {
      width: 190px;
      height: 48px;
      font-weight: 400;
      outline: none;
      border: none;
    }
  }

  .lightTheme path {
    fill: white;
  }
}
