.createChannelPopup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 350px;
  max-width: 750px;
  height: 80vh;

  .header {
    width: 100%;
    text-align: center;
  }
}
