.placeHolderSelectChat {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--background-main-line-gradient);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
