.container {
  padding: 44px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  p {
    padding: 20px;
    text-align: center;
  }
  .cross {
    position: absolute;
    top: 20px;
    right: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    &:before {
      display: inline-block;
      content: '';
      width: 24px;
      height: 24px;
      background: var(--side-bar-cross);
    }
    @media (hover: hover) {
      &:hover {
        transform: rotate(90deg);
      }
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    button {
      width: 206px;
    }
  }
}
