/* fix offset from hidden scrollbar */
html,
body {
  /* убирает скачек при сокрытии срола */
  /* scrollbar-gutter: stable; */
  font-size: var(--main-font-size);
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  scroll-behavior: smoothing;
  overflow: hidden;
  background-color: var(--background-main);
  background-image: var(--background-main-line-gradient);
  color: var(--main-color);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
ul,
ol,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

li {
  list-style-type: none;
}

/* Set core body defaults */
body {
  min-height: 100svh;
  /*line-height: 1.5;*/
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* анимация перехода на странице регистрация */
.fade-enter,
.fade-fast-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.fade-enter-active,
.fade-fast-enter-active {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit,
.fade-fast-exit {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit-active,
.fade-fast-exit-active {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active,
.fade-exit-active {
  transition:
    opacity 200ms,
    transform 200ms;
}

.fade-fast-enter-active,
.fade-fast-exit-active {
  transition:
    opacity 90ms,
    transform 90ms;
}

/* анимация вертикальная 1 вариант */
.fadeVerticalOne-enter,
.fadeVerticalOne-fast-enter {
  opacity: 0;
  transform: translateY(100%);
}

.fadeVerticalOne-enter-active,
.fadeVerticalOne-fast-enter-active {
  opacity: 1;
  transform: translateY(0%);
}

.fadeVerticalOne-exit,
.fadeVerticalOne-fast-exit {
  opacity: 1;
  transform: translateY(0%);
}

.fadeVerticalOne-exit-active,
.fadeVerticalOne-fast-exit-active {
  opacity: 0;
  transform: translateY(-100%);
}

.fadeVerticalOne-enter-active,
.fadeVerticalOne-exit-active {
  transition:
    opacity 200ms,
    transform 200ms;
}

.fadeVerticalOne-fast-enter-active,
.fadeVerticalOne-fast-exit-active {
  transition:
    opacity 90ms,
    transform 90ms;
}

/* анимация вертикальная 2 вариант */
.fadeVerticalTwo-enter,
.fadeVerticalTwo-fast-enter {
  opacity: 0;
  transform: translateY(100%);
}

.fadeVerticalTwo-enter-active,
.fadeVerticalTwo-fast-enter-active {
  opacity: 1;
  transform: translateY(0%);
}

.fadeVerticalTwo-exit,
.fadeVerticalTwo-fast-exit {
  opacity: 1;
  transform: translateY(0%);
}

.fadeVerticalTwo-exit-active,
.fadeVerticalTwo-fast-exit-active {
  opacity: 0;
  transform: translateY(100%);
}

.fadeVerticalTwo-enter-active,
.fadeVerticalTwo-exit-active {
  transition:
    opacity 200ms,
    transform 200ms;
}

.fadeVerticalTwo-fast-enter-active,
.fadeVerticalTwo-fast-exit-active {
  transition:
    opacity 90ms,
    transform 90ms;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  transition: all 0.3s ease;
  background: #9b9a9a;
  border: 0px solid #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(155, 154, 154, 0.47);
  width: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(155, 154, 154, 0.44);
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #dfe9eb;
  border: 0px solid #ffffff;
  border-radius: 5px;
}

/* ::-webkit-scrollbar-track:hover {
  background: #b8c0c2;
}

::-webkit-scrollbar-track:active {
  background: #b8c0c2;
} */

::-webkit-scrollbar-corner {
  background: transparent;
}

.customSlide {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-list,
.slick-track {
  width: 100%;
  height: 100%;
}

.slick-arrow::before {
  content: none;
}

.customArrow {
  z-index: 100;
  transition: all 0.3s;
  width: 40px;
  border-radius: 10px;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  & svg {
    stroke: var(--main-color);
    & > path {
      fill: var(--main-color);
    }
  }
}

.customArrow:hover {
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.383);
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contexify_item-disabled span {
  color: var(--graphic-grey-secondary) !important;
  cursor: default;
}
