.btnClose {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  cursor: pointer;

  @media (max-width: 600px) {
    background: none;
  }

  .btn_svg {
    width: 28px;
    height: 28px;
    transition: all 0.3s ease;

    path {
      fill: var(--main-color);
      transition: all 0.3s ease;
    }

    &:hover {
      transform: rotate(180deg);
    }
  }

  @media (max-width: 600px) {
    .btn_svg {
      width: 28px;
      height: 28px;
      background: none;
    }
  }
}
