.audioWrapper {
  width: 20vw;
  width: 373px;
  display: flex;
  flex-direction: column;
}

.audioWrapper > div:first-child {
  font-weight: 600;
  margin-bottom: 4px;
}

.loader {
  height: 88.9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 380px) {
  .audioWrapper {
    width: 320px;
  }
}
